@{
    Layout = "~/Views/Shared/_LayoutPUI.cshtml";
}


<div id="divMain" style="width:100%; height: auto;">

    <h1>O Sistema</h1>
    <p>Sistema de auxilio nas atividades empresariais.</p>
    <p>Você com maior poder de decisão.</p>

</div>

